.profile__image {
    background-image: url("../../../Images/profile__avatar.svg");
    width: 120px;
    height: 120px;
    grid-column: 1;
    grid-row: 1;
}
@media screen and (max-width:320px){
    .profile__image {
        margin:0 auto;
    }
}