.profile {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content 1fr;
    grid-template-areas: "avatar profile add";
    margin: 0 auto;
    padding-top: 40px;
    max-width: 880px;
    min-height: 120px;
  }