.element__item {
    max-width: 246px;
    /* display: flex;
      justify-content: space-between; */
    display: grid;
    grid-template-columns: 219px 22px;
    margin-left: 21px;
    margin-right: 15px;
  }