.element__button {
    margin-right: 5px;
    outline: none;
    border: none;
    width: 22px;
    height: 19px;
    align-self: center;
    background-color: #ffffff;
    background-image: url(../../../Images/element__logo.svg);
    transition: opacity 100ms ease-in-out;
  }
  .element__button:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  .element__button:active {
    opacity: 1;
    cursor: pointer;
    background-image: url(../../../Images/element__logo_dark.svg);
  }